@charset "utf-8";

//白色背景点击响应
@mixin activeBg($color) {
    &:active{
        background: $color;
    }
}
//使用示例：ul { @include activeBg(blue); }

//浏览器样式重写
html {
    color: #000;
    border: none;
}
body {
    font: 18px/1.5 arial,'Hiragino Sans GB','\5FAE\8F6F\96C5\9ED1',sans-serif;
    background-color: #f4f4f4;
}
blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul {
    margin: 0;
    padding: 0
}
fieldset,img,iframe {
    border: 0
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: 400
}
ul, li,h1,h2,h3,p{
    list-style: none
}
caption,th {
    text-align: left
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400
}
q:after,q:before {
    content: ''
}
abbr,acronym {
    border: 0;
    font-variant: normal
}
sup {
    vertical-align: text-top
}
sub {
    vertical-align: text-bottom
}
input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
    border: 1px solid #CCC;
    outline:0px;
    resize: none;
}
button{
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
}
legend {
    color: #000
}
img {
    vertical-align: middle
}
em,i {
    font-style: normal
}
a {
    -webkit-touch-callout:none;
    text-decoration:none;
    outline:0
}
//输入框默认内容样式
::-webkit-input-placeholder {
    color:#AAA
}

//浮动相关
.fl {
    float: left
}
.fr {
    float: right
}
.clear:after{
    display:block;
    content: '';
    visibility: hidden;
    width:0;
    height:0;
    clear:both;
}

/*两端对齐*/
.text_justify{
    text-align: justify;
    text-align-last:justify;
    display: inline-block;
    line-height: 0;
}
.text_justify:after{
    content: "";
    display: inline-block;
    width:100%;
    height:0;
    overflow: hidden;
}


